@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.2.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

/* COLORES */
:root {
    --primary-color: #FF9642;
    --secondary-color: #ffd25a;
    --tertiary-color: #ffaa5a;
    --quaternary-color: #fdc998;
    --color-title: #353535;
    --color-paragraph: #3e3e3e;
    --white-color: #fefefe;
    --dark-color: #3c3c3c;
}

.bg-white {
    background-color: var(--white-color) !important;
}

/* SCROLLBAR */
*::-webkit-scrollbar {
    width: 13px;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    border-radius: 8px;
    border: 3px solid #ffffff;
}

li::marker {
    color: var(--primary-color);
    font-weight: 500;
}

/* TIPOGRAFIAS */

body {
    font-family: "Open Sans", sans-serif;
    background-color: #fefefe;
}

.nav-link, .nav-link>a {
    font-size: 14px;
}

h1, h2, h3, h4 {
    color:var(--color-title);
}

p {
    color:var(--color-paragraph);
}

/* ENLACES */
a {
    text-decoration: none;
    color: var(--primary-color);
}


.nav-item {
    border-radius: 1rem;
}

.nav-item:hover {
    background: bisque;
    transition: .8s ease-out;
}

.item-dropdown:hover {
    background-color: transparent;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    border-color: transparent !important;
}

.btn-primary {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}

.btn-primary:hover, .btn-primary:active {
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
    background-color: var(--white-color) !important;
    /* transition: .8s ease-out; */
}

.btn-primary:hover > .bi-patch-plus {
    color: var(--primary-color) !important;
}


.bg-primary {
    color: var(--white-color) !important;
    border: 1px solid var(--primary-color) !important;
    background-color: var(--primary-color) !important;
}

.btn-vocal-a:hover, .btn-vocal-a:active  {
    background-color: #ff659642 !important;
}

/* FONDOS */
.fondo-form {
    background-image: url("../src/assets/components/Auth/images/fondo-form.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.bg-footer {
    background-image: url("./assets/img/bg-footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 84%;
}

/* BOTONES */
.boton-panel:hover {
    border: 0;
    border-radius: 1rem;
    transition: .8s ease-out;
    background-color: var(--tertiary-color);
}

.boton-panel:active {
    border: none;
}

/* Carrusel */
.splide__arrow {
    background-color: var(--primary-color);
    margin-left: -1rem;
    margin-right: -1rem;
}

.splide__arrow svg {
    fill: var(--quaternary-color);
    height: 1.2em;
    width: 1.2em;
}


/* Inicio */
.filtro-sombra {
    filter: drop-shadow(3px 3px 3px #575757);
}

/* Carrusel principal */

.seccion-explicacion {
    background-color: var(--quaternary-color);
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.carousel-item {
    min-height: 70vh;
}

/* Imagen */
.imagen-1 {
    width: 45%;
}

.imagen-2 {
    width: 35%;
}

/* Form registro maestro y alumno */
.card {
    border-radius: 30px !important;
}

.card-form {
    border-radius: 30px !important;
    /* width: 70%; */
}

.title-card {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.form-control:focus {
    border-color: transparent;
    box-shadow: 0 0 0 0.25rem rgb(246 161 0 / 25%);
}

.img-alumno, .img-maestro {
    cursor: pointer;
}

.archivo-imagen {
    background-color: var(--quaternary-color);
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 16px;
    text-align: center;
}

/* .dropdown {
    background-color: var(--quaternary-color);
    padding: 5px;
    border-radius: 2rem;
} */

.icono-ojo {
    top: 6px;
    right: 5px;
    margin: 10px;
    cursor: pointer;
}

.icono-ojo > img {
    width: 25px;
}

.icono-ojo:hover {
    cursor: pointer;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* Spinner (loader) */
.loader {
    width: 16px;
    height: 15px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}


/* SWEET ALERT */
div:where(.swal2-container).swal2-backdrop-show, div:where(.swal2-container).swal2-noanimation {
    background: rgba(46, 46, 46, 0.4);
    filter: drop-shadow(2px 4px 6px gray);
}

div:where(.swal2-container).swal2-center>.swal2-popup {
    border-radius: 3rem;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    border-radius: 2rem !important;
    background-color: #FF9642 !important;
    color: #fff;
    padding: 10px 30px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

/* PANEL DE ADMINISTRACIÓN */
aside > .contenedor-info {
    border-top-right-radius: 1rem;
}

aside {
    min-width: 256px;
    width: 256px;
    height: 100vh;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.img-actividad, .img {
    filter: drop-shadow(3px 3px 3px #949494);
}



/* JUEGOS */
.columna-juegos {
    height: 100vh;
}


/* ROMPECABEZAS */
.pieza {
    background-color: #c9c8c8;
    height: 200px;
}

.grab {
    cursor: grab;
}

/* LOADER */

.spinner {
    position: relative;
    width: 43.2px;
    height: 43.2px;
    perspective: 86.4px;
}

.spinner div {
    width: 100%;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--primary-color);
    position: absolute;
    left: 50%;
    transform-origin: left;
    animation: spinner-16s03x 2.4s infinite;
}

.spinner div:nth-child(1) {
    animation-delay: 0.18s;
}

.spinner div:nth-child(2) {
    animation-delay: 0.36s;
 }
 
 .spinner div:nth-child(3) {
     animation-delay: 0.54s;
    }
    
    .spinner div:nth-child(4) {
        animation-delay: 0.72s;
    }
    
    .spinner div:nth-child(5) {
        animation-delay: 0.8999999999999999s;
    }
    
    @keyframes spinner-16s03x {
        0% {
            transform: rotateY(0deg);
        }
        
        50%, 80% {
            transform: rotateY(-180deg);
        }
        
        90%, 100% {
            opacity: 0;
            transform: rotateY(-180deg);
        }
    }


/* PIANO */
    /* .sombra {
        box-shadow: 0px 19px 10px -6px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    } */
    
    .piano-container {
        max-width: 100%;
    }

    .piano-container, .piano {
        background-color: #B8E4E2;
        border-radius: 2rem;
    }

   .piano {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0px;
    z-index: 1;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
   }

/* MEDIA QUERIES */
@media (width <= 992px) {
    /* .card-form {
        max-width: 60%;
    } */
    
    .splide__slide {
        width: 60% !important;
    }
}

@media (width <= 768px) {
    .card-form {
        max-width: 85%;
    }
    
    .splide__slide {
        width: 100% !important;
    }

    /*             */
}