@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.2.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

/* COLORES */
:root {
    --primary-color: #FF9642;
    --secondary-color: #ffd25a;
    --tertiary-color: #ffaa5a;
    --quaternary-color: #fdc998;
    --color-title: #353535;
    --color-paragraph: #3e3e3e;
    --white-color: #fefefe;
    --dark-color: #3c3c3c;
}

/* SCROLLBAR */
*::-webkit-scrollbar {
    width: 13px;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    border-radius: 8px;
    border: 3px solid #ffffff;
}

/* TIPOGRAFIAS */

body {
    font-family: "Poppins", sans-serif;
    background-color: #fefefe;
}

.nav-link, .nav-link>a {
    font-size: 14px;
}

h1, h2, h3, h4 {
    color:var(--color-title);
}

p {
    color:var(--color-paragraph);
}

/* ENLACES */
a {
    text-decoration: none;
    color: var(--primary-color);
}

.nav-item {
    border-radius: 1rem;
}

.nav-item:hover {
    background: bisque;
    transition: .8s ease-out;
}

.btn-primary {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}

.btn-primary:hover, .btn-primary:active {
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
    background-color: var(--white-color) !important;
    transition: .8s ease-out;
}

.bg-primary {
    color: var(--white-color) !important;
    border: 1px solid var(--primary-color) !important;
    background-color: var(--primary-color) !important;
}

/* FONDOS */
.fondo-form {
    background-image: url("../src/assets/components/Auth/images/fondo-form.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.bg-footer {
    background-image: url("./assets/img/bg-footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 84%;
}

.card-2::before {
    content: "- - - - - -";
    font-weight: bolder;
    color: var(--primary-color)
}

/* BOTONES */
.boton-panel:hover {
    border: 0;
    border-radius: 1rem;
    transition: .8s ease-out;
    background-color: var(--tertiary-color);
}

.boton-panel:active {
    border: none;
}

/* Carrusel */
.splide__arrow {
    background-color: var(--primary-color);
    margin-left: -1rem;
    margin-right: -1rem;
}

.splide__arrow svg {
    fill: var(--quaternary-color);
    height: 1.2em;
    width: 1.2em;
}


/* Inicio */
.filtro-sombra {
    filter: drop-shadow(3px 3px 3px #575757);
}

/* Carrusel principal */
.seccion-principal {
    /* background-image: url("./assets/img/image.webp"); */
    background-image: url("./assets/img/image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.seccion-explicacion {
    background-color: var(--quaternary-color);
}


.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.carousel-item {
    min-height: 70vh;
}

/* Imagen */
.imagen-1 {
    width: 45%;
}

.imagen-2 {
    width: 35%;
}

/* Form registro maestro y alumno */
.card {
    border-radius: 30px !important;
}

.title-card {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

.form-control:focus {
    border-color: transparent;
    box-shadow: 0 0 0 0.25rem rgb(246 161 0 / 25%);
}

.img-alumno {
    cursor: pointer;
}

.icono-ojo {
    top: 6px;
    right: 5px;
    margin: 10px;
    cursor: pointer;
}

.icono-ojo > img {
    width: 25px;
}

.icono-ojo:hover {
    cursor: pointer;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* Spinner (loader) */
.loader {
    width: 16px;
    height: 15px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
            transform: rotate(360deg);
        }
    } 

    
/* PANEL DE ADMINISTRACIÓN */
aside > .contenedor-info {
    border-top-right-radius: 1rem;
}

aside {
    min-width: 256px;
    width: 256px;
    height: 100vh;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.img-actividad, .img {
    filter: drop-shadow(3px 3px 3px #949494);
}



/* JUEGOS */
.columna-juegos {
    height: 100vh;
}


/* ROMPECABEZAS */
.pieza {
    background-color: #c9c8c8;
    height: 200px;
}

.grab {
    cursor: grab;
}

/* MEDIA QUERIES */
@media (width <= 992px) {
    .card {
        max-width: 60%;
    }
}

@media (width <= 768px) {
    .card {
        max-width: 85%;
    }
}